snippet temp
    #Title ${1:title} `strftime("%Y/%m/%d (%a) %H:%M")`
    ---
    #Memos:
    ${0}
    #Words:
    
    #Point:
    
    #Fillup:
    
    #Practice:

snippet start_chap
    # chap${1:999}
    ## word
    ## point
    ## note
