ime_controller.js
.ssh/

# vimperator
.vimperator/plugin/
.vimperator/colors/
.vimperator/info/
.vimperator/dev/
# .vimperator/vimperator-plugins-other/

# vim
.vim/bundle/
.vim/undo/

# zsh
.zsh/*
.zshenv
!.zsh/rc/
