/dotfiles/ime_controller.js
/dotfiles/.ssh/

# vimperator
/dotfiles/.vimperator/plugin/
/dotfiles/.vimperator/colors/
/dotfiles/.vimperator/info/
/dotfiles/.vimperator/dev/
# .vimperator/vimperator-plugins-other/

# vim
/dotfiles/.vim/bundle/
/dotfiles/.vim/undo/

# zsh
/dotfiles/.zsh/*
/dotfiles/.zshenv
!/dotfiles/.zsh/rc/
