/dotfiles/ime_controller.js
/dotfiles/.ssh/

/dotfiles/.vimperator/dev/

/dotfiles/.vimperator/vimperator-plugins-other/caisui
/dotfiles/.vimperator/vimppm

# vimperator
/dotfiles/.vimperator/plugin/
/dotfiles/.vimperator/colors/
/dotfiles/.vimperator/info/
/dotfiles/.vimperator/dev/
# .vimperator/vimperator-plugins-other/

# vim
/dotfiles/.vim/bundle/
/dotfiles/.vim/undo/
/dotfiles/.vim/plugged/

# zsh
/dotfiles/.zsh/*
/dotfiles/.zshenv
!/dotfiles/.zsh/rc/

/dotfiles/.zsh_history
