" nnoremap sn gt
" nnoremap sp gT

" nmap / :action Find<CR>

" set number
" set relativenumber
set clipboard=unnamed
set surround

set hlsearch!

set number

nnoremap <C-j> 5j
nnoremap <C-k> 5k
vnoremap <C-j> 5j
vnoremap <C-k> 5k
