
# --------------------------------------------------
# processing snip file 
# --------------------------------------------------
snippet temp 
    // {$1:title}
    void setup() {
        ${0}
    }
    void draw() {
    }
