snippet start_userscript
    // ==UserScript==
    // @name ${1:}
    // @namespac ${2:}
    // @description ${3:}
    // @includes  ${4:}
    // @excludes  ${5:}
    // ==/UserScript==

snippet start_grunt
